html body{
    margin: 0;
    padding: 0;
    background-color:  rgb(235, 235, 238) !important;
}
input[type=text]{
    max-width: 80%; 
    border-radius: 9px 9px 9px 9px;
}
input[type=text]:focus{
    box-shadow: 3px 3px rgba(0, 0, 0, .2);
}

select{
    max-width: 80%; 
    border-radius: 9px 9px 9px 9px;
}

textarea{
    border-radius: 9px 9px 9px 9px;
}
#file{
    background-color: salmon;
    height: 40%;
    width: 70%;
}
#addEvent{
    background: #FB694A;
    border-radius: 8px 8px 8px 8px;
    box-sizing: border-box;
    width: 70%;
    color: #FFF;
    font-size: large;
    font-weight: bolder;
}
